# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/package.json
# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/frontend/tmpdb/

/frontend/app_values
/.vscode*

/backend/opianalytics/settings/secret.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
/backend/env/
/backend/build/
/backend/develop-eggs/
/backend/dist/
/backend/downloads/
/backend/eggs/
/backend/.eggs/
/backend/lib64/
/backend/parts/
/backend/sdist/
/backend/var/
/backend/wheels/
/backend/*.egg-info/
/backend/.installed.cfg
/backend/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/backend/*.manifest
/backend/*.spec

# Installer logs
/backend/pip-log.txt
/backend/pip-delete-this-directory.txt

# Unit test / coverage reports
/backend/htmlcov/
/backend/.tox/
/backend/.coverage
/backend/.coverage.*
/backend/.cache
/backend/nosetests.xml
/backend/coverage.xml
/backend/*,cover
/backend/.hypothesis/

# Django stuff:
*.log
/backend/local_settings.py

# Mysql data
/backend/database/*
!/backend/database/.gitignore
